.para2{
    font-family: 'Satisfy', cursive;
    font-size: 38px;
}
img{
    margin-top: -10%;
    height: 88%;
    width: 80%;
    border-radius: 5%;
    transform: scale(1);
}
.welcome-1{
    margin-top: 0;
    margin-bottom: 70px;
}

.overall {
    display: flex;
    flex-direction: row;
}